beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
cssselect==1.0.3
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz
feedfinder2==0.0.4
feedparser==5.2.1
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jieba3k==0.35.1
Jinja2==2.10
lxml==4.6.3
MarkupSafe==1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
newspaper3k==0.2.6
nltk==3.2.5
numpy==1.14.1
pandas==0.22.0
pathlib==1.0.1
Pillow==5.0.0
plac==0.9.6
preshed==1.0.0
git+git://github.com/lhl/pyfav
python-dateutil==2.6.1
pytrends==4.3.0
pytz==2017.3
PyYAML==3.12
readability==0.2
regex==2017.4.5
requests==2.18.4
requests-file==1.4.3
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
spacy==2.0.11
stop-words==2015.2.23.1
termcolor==1.1.0
thinc==6.10.2
tldextract==2.2.0
toolz==0.9.0
tqdm==4.22.0
ujson==1.35
urllib3==1.22
Werkzeug==0.14.1
whitenoise==3.3.1
wrapt==1.10.11
