{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Fake news detection tool</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">
                <span>Fake news detection tool</span>
                <small>
                    <small>
                        <small class="text-danger">
                            <i>Beta</i>
                        </small>
                    </small>
                </small>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="">
                <div class="input-group">
                    <input type="text" name="q" class="form-control form-control-lg" value="{{ article.url }}">
                    <span class="input-group-append">
                                <button name="button" type="submit" class="btn btn-primary btn-lg">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                </div>
            </form>
        </div>
    </div>
    <br>

    {% if article != None %}
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{{ article.url }}" class="url d-flex align-items-center" target="_blank">
                            <span class="text-truncate d-block">{{ article.url }}</span>
                            &nbsp;
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <div class="d-flex align-items-start">
                            <div class="favicon-container mr-2">
                                <img src="{{ favicon_url }}" alt="" class="favicon">
                            </div>
                            <h3>{{ article.title }}</h3>
                        </div>
                        <div class="">
                            <i>Written by {{ authors }} - {{ article.publish_date }}</i>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 px-4 mb-3">
                                <h3 class="text-center mb-3">Results</h3>
                                <h6 class="mb-0">Please choose criterias you are interested in to calculate an appropriate global score for your article.</h6>
                            </div>
                        </div>

                        <div class="row">

                            {% for i in params %}
                                <div class="col-md-6 px-4">
                                    <ul class="list-unstyled params-list">
                                        {% for p in i %}
                                            <li>
                                                <div class="d-flex params-item align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <input type="checkbox" class="criterion_checkbox" name="criterion[{{ p.0 }}]" value="{{ p.1 }}" id="criterion_{{ p.0 }}" checked="checked">
                                                        &nbsp;&nbsp;
                                                        <div class="param-name">
                                                            <label for="criterion_{{ p.0 }}" class="mb-0">{{ p.0.capitalize }}</label>
                                                            &nbsp;
                                                            {% if p.2 != None %}
                                                                <span data-toggle="tooltip" data-placement="top"
                                                                      title="{{ p.2 }}">
                                                                            <i class="fas fa-question-circle"></i>
                                                                        </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>


                                                    <div class="param-score">
                                                        <strong>{{ p.1 }} %</strong>
                                                        &nbsp;&nbsp;&nbsp;

                                                        <div class="gauge-container">
                                                            <div class="gauge-range selected" style="width: {{ p.1 }}%"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-md-6 px-4">
                                <button class="btn btn-secondary btn-sm" data-checked="1" id="select_all_checkbox">Select all</button>
                                <button class="btn btn-secondary btn-sm" data-checked="1" id="deselect_all_checkbox">Deselect all</button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h3>Global score</h3>
                                    <div id="global_score">
                                        {{ score }} %
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<br>
<br>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'app/js/app.js' %}"></script>
</body>
</html>