.container{
    padding-top: 100px;
}

.main-img{
    max-width: 500px;
}

.params-item {
    height: 35px;
}

.total_score{
    font-size: 3rem;
}

.favicon-container{
    max-width: 35px;
}

.favicon{
    width: 100%;
}