.container{
    padding-top: 100px;
}

.main-img{
    max-width: 500px;
}

.params-item {
    height: 35px;
}

.fa-question-circle{
    color: #7d7d7d;
}

.total_score{
    font-size: 3rem;
}

.favicon-container{
    max-width: 35px;
}

.favicon{
    width: 100%;
}

.param-score{
    display: flex;
    align-items: center;
}

.gauge-container{
    width: 100px;
    height: 13px;
    border: 1px #b7b7b7 solid;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

.gauge-range.selected {
    background: #007bff;
}
.gauge-range {
    height: 100%;
    border-radius: 6px 0px 0px 6px;
}
.gauge-range:not(.selected) {
    background-color: #ffffff7d;
    border-radius: 0 4px 4px 0;
}


#global_score {
    font-size: 3rem;
}